@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto Mono', monospace;
  }
  body {
    margin-left: auto;
    margin-right: auto;
    background-color: #002244; /* Broncos Navy */
  }
}

@layer components {
  .primary-text-color {
    color: #FFFFFF;
  }
  .secondary-text-color {
    color: #D9D9D9;
  }
  .link {
    @apply uppercase underline underline-offset-8 decoration-2 decoration-spotlight-green hover:text-spotlight-green tracking-[2px];
  }
}